In [83]:
import json
import random
import datetime

In [84]:
import pandas as pd
from sqlalchemy import create_engine

In [85]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/linzi')

In [75]:
headers = {
    'Origin': "https://www.stmbuy.com",
    'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36"
    }

import requests

url = "https://api2.stmbuy.com/game/item/lastbuy.json"

querystring = {"row":"10","statistics":"1","page":"1","appid":"570","class_id":"57bc084a1e0239ab"}

response = requests.request("GET", url, headers=headers, params=querystring)

dts = json.loads(response.text)

In [79]:
# datetime.datetime.fromtimestamp(1556439695)

In [86]:
# for i in dts['data'][0].keys():
#     print('''{} = dt.get('{}',0)'''.format(i,i))

In [88]:
lst = []
for dt in dts['data']:
    price = dt.get('price',0) # 成交价
    member_nickname = dt.get('member_nickname',0)
    market_name = dt.get('market_name',0).strip()
    market_price = dt.get('market_price',0) # 市场参考价
    currency = dt.get('currency',0) # 货币
    channel = dt.get('channel',0) # 成交渠道
    amount = dt.get('amount',0)# 成交量
    itime = datetime.datetime.fromtimestamp(dt.get('itime',0))
    utime = datetime.datetime.fromtimestamp(dt.get('utime',0))
    lst.append([price,member_nickname,market_name,market_price,currency,channel,amount,itime,utime])

In [89]:
new_col = ['price','member_nickname','market_name','market_price','currency','channel','amount','itime','utime']

In [90]:
df = pd.DataFrame(lst)
df.columns = new_col
df.head()

,price,member_nickname,market_name,market_price,currency,channel,amount,itime,utime
0,34448,JamesBorden,守夜丰功,47537,cny,web,1,2019-04-27 16:39:08,2019-04-27 16:39:08
1,29351,Sam,守夜丰功,47537,cny,web,1,2019-04-19 20:24:19,2019-04-19 20:24:19
2,26501,MajorTom,守夜丰功,47537,cny,android,1,2019-04-04 08:51:54,2019-04-04 08:51:54
3,34600,赵志强111,守夜丰功,47537,cny,android,1,2019-04-03 15:24:42,2019-04-03 15:24:42
4,31812,虎扑第一帅,守夜丰功,47537,cny,android,1,2019-04-03 15:00:23,2019-04-03 15:00:23

In [91]:
df

,price,member_nickname,market_name,market_price,currency,channel,amount,itime,utime
0,34448,JamesBorden,守夜丰功,47537,cny,web,1,2019-04-27 16:39:08,2019-04-27 16:39:08
1,29351,Sam,守夜丰功,47537,cny,web,1,2019-04-19 20:24:19,2019-04-19 20:24:19
2,26501,MajorTom,守夜丰功,47537,cny,android,1,2019-04-04 08:51:54,2019-04-04 08:51:54
3,34600,赵志强111,守夜丰功,47537,cny,android,1,2019-04-03 15:24:42,2019-04-03 15:24:42
4,31812,虎扑第一帅,守夜丰功,47537,cny,android,1,2019-04-03 15:00:23,2019-04-03 15:00:23
5,35546,赵志强111,守夜丰功,47537,cny,android,1,2019-04-03 14:52:21,2019-04-03 14:52:21
6,31813,MajorTom,守夜丰功,47537,cny,h5,1,2019-04-03 14:46:58,2019-04-03 14:46:58
7,34550,赵志强111,守夜丰功,47537,cny,android,1,2019-04-03 14:28:33,2019-04-03 14:28:33
8,34750,小肚皮,守夜丰功,47537,cny,ios,1,2019-03-28 15:45:18,2019-03-28 15:45:18
9,34999,oukikou,守夜丰功,47537,cny,android,1,2019-03-24 22:19:24,2019-03-24 22:19:24